{{css "/css/user.css"}}
{{css "/css/auth.css"}}
{{css "/css/base.css"}}
<div class="case_00">
    <!--banner-->
    <div class="case_01">
        <div class="cover-img" style="background-color: black"></div>
        <div class="user-infobar">
            <div class="user-imgbox">
                <a class="user-img" style="background-image: url(images/tp_user/touxiang.png);"></a>
            </div>
            <div class="user-info-content">
                <div class="info-top">
                    <span class="info-name">
                        用户1
                    </span>
                </div>
                <div class="info-middle">
                    <div class="guanzhu">
                        关注
                        <span>0</span>
                    </div>
                    <div class="fensi">
                        粉丝
                        <span>0</span>
                    </div>
                </div>
                <div class="info-bottom">
                    这个家伙很懒，什么都没有写
                </div>
            </div>
        </div>
    </div>
    <!--banner-->
    <div class="center-tab">
        <div id="center-selectbar" class="center-tab-all">
            <a href="User.hbs" class="center-tab-a center-tab-a-active">
                <span>动态 1</span>
            </a>
            <a href="User-work.hbs" class="center-tab-a">
                <span>作品 0</span>
            </a>
            <a href="User-like.hbs" class="center-tab-a">
                <span>收藏</span>
            </a>
            <a href="User-info.hbs" class="center-tab-a">
                <span>资料</span>
            </a>
            <a id="user-create" href="#" class="create">
                <img style="width: 50px;display: inline-block;height: 50px" src="images/tp_user/我的发布.png">
                <span style="display: inline-block;color: #2196F3">发布</span>
            </a>
        </div>
    </div>
    <div id="use_inner_content" class="modal_content">
        <div class="sort-bar">
            <div class="sort-top">
                <ul>
                    <li data-id="0" class="sort-li">
                        <a href="#" class="sort-a-active">
                            全部
                        </a>
                    </li>
                    <li data-id="1" class="sort-li">
                        <a href="#" class="sort-a">
                            关注
                        </a>
                    </li>
                    <li data-id="2" class="sort-li">
                        <a href="#" class="sort-a">
                            我的
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-contentbox">
            <div id="user_news" class="user-item">
                <div class="user-news-top">
                    <div class="user-news-img">
                        <a href="#">
                            <div>
                                <img class="user-new-touxiang" src="images/tp_user/touxiang.png">
                            </div>
                        </a>
                    </div>
                    <div class="user-info-bar">
                        <h2>用户1</h2>
                        <span>2019/08/20 12:00</span>
                    </div>
                </div>
                <div class="news-content">
                    <p>今天自己画了一张渔民画，感觉挺好的~</p>
                </div>
                <div>
                    <img class="news-img" src="images/tp_user/IMG_9769.JPG">
                </div>
                <div style="margin: 10px 100px;">
                    <div class="fun-icons">
                        <i><img class="news-icons" src="images/tp_user/消息.png"></i>
                        5
                    </div>
                    <div class="fun-icons">
                        <i><img class="news-icons" src="images/tp_user/分享.png"></i>
                        查看原文
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{js "/js/jquery-1.12.4.min.js"}}
{{js "/js/user.js"}}