{{css "/css/iconfont.css"}}
{{css "/css/x_jing.css"}}
{{css "/css/base.css"}}
{{css "/css/component.css"}}
{{css "/css/auth.css"}}
<div style=" margin: 0;width:100%;">
    <!--首页start-->
    <div id="nav_content" class="case_01" >
        <!--<div id="homepage" style="display: block;height:100%;">-->
                <!--<div style="width: 100%;height: 256px;">-->
                    <div id="top_text" style=" float: right;width:fit-content;margin-left:50%;margin-right:10%;height: fit-content;display: block;position: absolute;
    margin-top: 20%;">
                        <!--纯图片-->
                        <div style="margin-bottom: 5%;">
                            <p style="font-size: 35px;color:#FFF;text-shadow:1px 1px 2px rgba(0,0,0,0.70);"></p>
                        </div>
                        <div style="margin-bottom: 5%;">
                            <p style="font-family:Source Han Sans CN;font-size: 20px;color: #FFFFFF;text-align:center;text-shadow:1px 1px 2px rgba(0,0,0,0.70); line-height: 51px;">
                                舟山市位于长江口南测、杭州湾外缘的东海海域。舟山群岛由 嵊泗列岛、
                                马鞍列岛、崎岖列岛、川湖列岛、中街山列岛、浪岗山列岛、七姊八妹列岛、火山列岛和梅散列岛组成。
                            </p>
                        </div>
                        <div  class="chakan"  style="margin-left: 35%;">
                            <div class="theme-2">
                                <div style="height: 0; width: 0; position: absolute; visibility: hidden;" aria-hidden="true">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
                                        <!-- Because of Firefox. -->
                                        <defs>
                                            <radialGradient id="gradient">
                                                <stop offset="0" stop-color="#0868BB" />
                                                <stop offset="0.25" stop-color="#0075D8" />
                                                <stop offset="0.35" stop-color="#0868BB" />
                                                <stop offset="0.50" stop-color="#0075D8" />
                                                <stop offset="0.60" stop-color="#0868BB" />
                                                <stop offset="0.85" stop-color="#0075D8" />
                                                <stop offset="1" stop-color="#0868BB" />
                                            </radialGradient>
                                        </defs>
                                        <symbol id="ripply-scott" viewBox="0 0 100 100">
                                            <circle id="ripple-shape" fill="url(#gradient)" cx="1" cy="1" r="1" />
                                        </symbol>
                                    </svg>
                                </div>
                                <a href="x_meitu">
                                <button id="js-ripple-btn" class="button styl-material">
                                   更多美图
                                    <svg class="ripple-obj" id="js-ripple">
                                        <use height="100" width="100" xlink:href="#ripply-scott" class="js-ripple"></use>
                                    </svg>
                                </button>
                                </a>
                            </div>
                        </div>
                        <!--纯图片-->
                    </div>
                <!--</div>-->
        <!--</div>-->
        <!--轮播图片start-->
        <section class="banner-custom" style="height:100%;z-index:-999">
            <ul>
                <li bg="#342d34"><img style="width: 100%;" src="images/tp_xiang/jing/img1.jpg" alt="" ></li>
                <li bg="#565179"><img style="width: 100%;" src="images/tp_xiang/jing/IMG_1538.JPG" alt=""></li>
                <li bg="#eddc84"><img style="width: 100%;" src="images/tp_xiang/jing/IMG_0272.JPG" alt=""></li>
            </ul>
        </section>
        <!--轮播图片end-->
    </div>
    <!--首页end-->

    <!--VR舟山start-->
    <div>
        <!--VR舟山标题 start-->
        <div class="VR_content">
            <div class="title">
                <P>—— VR舟山 ——</P>
            </div>
        </div>
        <!--VR舟山标题 end-->

        <!--地图start-->
        <div id="flashContent">
                <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="1920" height="1080" id="Map" align="middle">
                    <param name="movie" value="others/Map.swf" />
                    <param name="quality" value="high" />
                    <param name="bgcolor" value="#ffffff" />
                    <param name="play" value="true" />
                    <param name="loop" value="true" />
                    <param name="wmode" value="window" />
                    <param name="scale" value="showall" />
                    <param name="menu" value="true" />
                    <param name="devicefont" value="false" />
                    <param name="salign" value="" />
                    <param name="allowScriptAccess" value="sameDomain" />
                    <!--[if !IE]>-->
                    <object type="application/x-shockwave-flash" data="others/Map.swf" width="1920" height="1080">
                        <param name="movie" value="Map.swf" />
                        <param name="quality" value="high" />
                        <param name="bgcolor" value="#ffffff" />
                        <param name="play" value="true" />
                        <param name="loop" value="true" />
                        <param name="wmode" value="window" />
                        <param name="scale" value="showall" />
                        <param name="menu" value="true" />
                        <param name="devicefont" value="false" />
                        <param name="salign" value="" />
                        <param name="allowScriptAccess" value="sameDomain" />
                        <!--<![endif]-->
                        <a href="http://www.adobe.com/go/getflash">
                            <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="获得 Adobe Flash Player" />
                        </a>
                        <!--[if !IE]>-->
                    </object>
                    <!--<![endif]-->
                </object>
            </div>
        <!--地图end-->
    </div>
    <!--VR舟山end-->

    <!--地理特征start-->
    <div style="margin-bottom: 10%">
        <div class="title">
            <P>—— 地理特征 ——</P>
        </div>
        <!-- 地理特征内容start-->
        <div style="justify-content: center;display: flex;">
            <section class="qualities">
                <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="column box-shadow">
                                    <div class="icon">
                                        <i class="iconfont icon-qihoubianhua">
                                        </i>
                                    </div>
                                    <h5>气候状况</h5>
                                    <p class="text01">舟山群岛四面环海，属于亚热带季风气候，冬暖夏凉，温和湿润，光照充足。
                                        年平均气温16℃左右，常年降水量927-1620毫米，适宜各种生物群落繁衍、生长
                                        、给渔农业生产提供了相当有利的条件。
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="column box-shadow">
                                    <div class="icon">
                                        <i class="iconfont icon-qitaleishuiwenjiance">
                                        </i>
                                    </div>
                                    <h5>水文状况</h5>
                                    <p class="text01">舟山市水文情况复杂，地表水系不发育，多源于自丘陵腹地，呈放射状
                                        蜿蜒入海。水系受海岛规模影响，流程短，汇水面积小，受暴雨影响，
                                        水位暴涨暴落，易引发山洪等自然灾害。
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="column box-shadow">
                                    <div class="icon">
                                        <i class="iconfont icon-dizhizaihai">
                                        </i>
                                    </div>
                                    <h5>地质状况</h5>
                                    <p class="text01">舟山属于华南地层区东南沿海分区，出露地层主要有上侏罗统和第四系。
                                        前者以中酸性熔岩和火山沉积岩。第四系松散沉积物分布在海积、冲海积
                                        平原区和山麓沟谷地带，厚度变化较大。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
        </div>
        <!-- 地理特征内容end-->
    </div>
    <!--地理特征end-->

    <!--底栏start-->
    <!--<footer id="home_footer" style="overflow: hidden;text-align: center; height: fit-content;width: 100%;position: relative;">-->
        <!--&lt;!&ndash;背景&ndash;&gt;-->
        <!--<div style="position: absolute;margin-top: 0;width: 100%;">-->
            <!--<img style="position: absolute;left:-8%;z-index: -5;width: 110%;" src="images/tp_home/底栏背景1.png">-->
            <!--<img style="position: absolute;left:-8%;margin-top:-80px;z-index: -6;width: 100%;" src="images/tp_home/底栏背景2.png">-->
            <!--<img style="position: absolute;left:-8%;z-index: -7;width: 100%;" src="images/tp_home/底栏背景3.png">-->
            <!--<img style="position: absolute;left:-8%;z-index: -8;width: 100%;" src="images/tp_home/底栏背景4.png">-->
            <!--<img style="position: absolute;left:-8%;z-index: -9;width: 100%;" src="images/tp_home/底栏背景5.png">-->
        <!--</div>-->
        <!--&lt;!&ndash;背景&ndash;&gt;-->
        <!--<div style="position: absolute;margin-top: 350px;margin-left: 5%;">-->
            <!--<img style="width: 300px;" src="images/tp_home/logo（底）.png">-->
        <!--</div>-->
        <!--<div style="position: absolute;margin-left: 60%;margin-top: 150px;text-align:center">-->
            <!--<p style="color: #FFFFFF;font-size: 40px;margin-bottom:15px">-->
                <!--关于我们-->
            <!--</p>-->
            <!--<p style="color: #FFFFFF;font-size: 25px;line-height: 83px">-->
                <!--工作照<br>-->
                <!--意见反馈<br>-->
                <!--联系方式-->
            <!--</p>-->
        <!--</div>-->
        <!--<div style="position: absolute;margin-left: 80%;margin-top: 150px;text-align:center">-->
            <!--<p style="color: #FFFFFF;font-size: 40px;margin-bottom:15px">-->
                <!--友情链接-->
            <!--</p>-->
            <!--<p style="color: #FFFFFF;font-size: 25px;line-height: 83px">-->
                <!--舟山网<br>-->
                <!--中国海洋文化在线<br>-->
                <!--舟山海洋数字图书馆-->
            <!--</p>-->
        <!--</div>-->
        <!--<div style="margin:550px 0 auto;color: white;font-family: 'Source Han Sans CN'">-->
            <!--<p style="margin-bottom: 15px;">Copyrigt©2019&nbspAll&nbspRights&nbspReserved</p>-->
        <!--</div>-->
    <!--</footer>-->
    <!--底栏end-->
</div>
<script rel="script" src="js/jquery.js"></script>
<script>
    // 屏幕自适应
    function changeheight(){
        var total = document.documentElement.clientHeight;
        var colHeight = total-document.getElementById("nav_content").offsetTop;
        document.getElementById("nav_content").style.height=colHeight+"px";
        // document.getElementById("homepage").style.height=colHeight+"px";
        // document.getElementById("video-tvc").style.height=colHeight+"px";
        // document.getElementById("nav").style.height=colHeight*0.55+"px";
        // document.getElementById("daohang").style.bottom=-colHeight*0.15+"px";
        // document.getElementById("su_bg").style.height=colHeight+"px";
        // document.getElementById("su_bg_img").style.height=colHeight+150+"px";
    }
    function changewidth(){
        // var total2 = document.documentElement.clientWidth;
        // var colWidth = total2-document.getElementById("case_01").offsetLeft;
        // // document.getElementById("home").style.width=colWidth+"px";
        // // document.getElementById("video").style.width=colWidth+"px";
        // document.getElementById("logo").style.width=colWidth*0.15+"px";
        // document.getElementById("daohang").style.marginRight=colWidth*0.05+"px";
        // document.getElementById("top_text").style.marginRight=colWidth*0.1+"px";
        // document.getElementById("homepage").style.width=colWidth+"px";
        // document.getElementById("home_xiang").style.width=colWidth+"px";
        // document.getElementById("home_yu").style.width=colWidth+"px";
        // document.getElementById("home_su").style.width=colWidth+"px";
        // document.getElementById("home_footer").style.width=colWidth+"px";
        // document.getElementById("xiang_bg").style.width=colWidth+"px";
        // document.getElementById("xiang_bg_img").style.width=colWidth+"px";
        // document.getElementById("jing_bg").style.width+=colWidth*0.48+"px";
        // document.getElementById("jing_img").style.width+=colWidth*0.46+"px";
        // document.getElementById("feng_bg").style.width+=colWidth*0.48+"px";
        // document.getElementById("feng_img").style.width+=colWidth*0.46+"px";
        // document.getElementById("yu_a").style.width+=colWidth*0.22+"px";
        // document.getElementById("yu_b").style.width+=colWidth*0.22+"px";
        // document.getElementById("yu_c").style.width+=colWidth*0.22+"px";
        // document.getElementById("su_bg").style.width=colWidth+"px";
        // document.getElementById("su_bg_img").style.width=colWidth+"px";
        // document.getElementById("yi_dong01").style.width+=colWidth*0.96+"px";
        // document.getElementById("yi_01").style.width+=colWidth*0.3+"px";
        // document.getElementById("yi_02").style.width+=colWidth*0.3+"px";
        // document.getElementById("yi_03").style.width+=colWidth*0.3+"px";
        // document.getElementById("yi_04").style.width+=colWidth*0.3+"px";
        // document.getElementById("jing_intro1").style.marginRight=colWidth*0.50+"px";
    }
    window.onload=function () {
        changewidth();
        changeheight();
    };
    window.onresize=function () {
        changewidth();
        changeheight();
    };
    document.documentElement.style.fontSize = document.body.clientWidth / 1920 + "px";
    <!--了解更多按钮-->
    $( ".button_su_inner" ).mouseenter(function(e) {
        var parentOffset = $(this).offset();
        var relX = e.pageX - parentOffset.left;
        var relY = e.pageY - parentOffset.top;
        $(this).prev(".su_button_circle").css({"left": relX, "top": relY });
        $(this).prev(".su_button_circle").removeClass("desplode-circle");
        $(this).prev(".su_button_circle").addClass("explode-circle");
    });
    $( ".button_su_inner" ).mouseleave(function(e) {
        var parentOffset = $(this).offset();
        var relX = e.pageX - parentOffset.left;
        var relY = e.pageY - parentOffset.top;
        $(this).prev(".su_button_circle").css({"left": relX, "top": relY });
        $(this).prev(".su_button_circle").removeClass("explode-circle");
        $(this).prev(".su_button_circle").addClass("desplode-circle");
    });
</script>
{{js "/js/TweenMax.min.js"}}
{{js "/js/ripple-config.js"}}
{{js "/js/prism.js"}}
{{js "/js/jquery-1.12.4.min.js"}}
{{js "/js/jquery.terseBanner.min.js"}}
{{js "/js/example.js"}}
{{js "/js/x_jing.js"}}
{{js "/js/base.js"}}



