{{css "/css/auth.css"}}
{{css "/css/base.css"}}
{{css "/css/yi_chuan.css"}}
{{css "/css/normalize.css"}}
{{css "/css/demo.css"}}
{{css "/css/style.css"}}
<div class="case_00">
    <div id="nav_content" class="case_01">
        <div>
            <img src="images/tp_yi/chuan/船模.jpg" style="position: relative;width:100%">
        </div>
    </div>
    <div class="case_02" style="margin-bottom: 50px">
        <div class="chuan_title">
            <p>——船模展示——</p>
        </div>
        <div id="demo-page" style="height: auto;">
            <!--main container-->
            <div id="main-container">
                <!-- <div id="main-container" class="vertical-version"> -->
                <div class="chuan_show">
                    <!-- images wrapper -->
                    <div id="images-wrapper">
                        <figure class="image-wrapper active">
                            <script type="text/javascript" src="others/ship3/object2vr_player.js">
                            </script>
                            <script type="text/javascript" src="others/ship3/skin.js">
                            </script>
                            <div id="container3" style="width:800px;height:450px;">
                                This content requires HTML5 &amp; Javascript or Adobe Flash Player Version 9 or higher.
                            </div>
                            <script type="text/javascript">

                                // create the object player with the container
                                obj=new object2vrPlayer("container3");
                                // add the skin object
                                skin=new object2vrSkin(obj);
                                // load the configuration
                                obj.readConfigUrl("others/ship3/xin3_out.xml");
                            </script>
                            <noscript>
                                <p><b>Please enable Javascript!</b></p>
                            </noscript>
                        </figure>
                        <figure class="image-wrapper">
                            <script type="text/javascript" src="others/ship1/object2vr_player.js">
                            </script>
                            <script type="text/javascript" src="others/ship1/skin.js">
                            </script>
                            <div id="container1" style="width:800px;height:450px;">
                                This content requires HTML5 &amp; Javascript or Adobe Flash Player Version 9 or higher.
                            </div>
                            <script type="text/javascript">
                                // create the object player with the container
                                obj=new object2vrPlayer("container1");
                                // add the skin object
                                skin=new object2vrSkin(obj);
                                // load the configuration
                                obj.readConfigUrl("others/ship1/xin1_out.xml");
                            </script>
                            <noscript>
                                <p><b>Please enable Javascript!</b></p>
                            </noscript>
                        </figure>
                        <figure class="image-wrapper">
                            <script type="text/javascript" src="others/ship2/object2vr_player.js">
                            </script>
                            <script type="text/javascript" src="others/ship2/skin.js">
                            </script>
                            <div id="container2" style="width:800px;height:450px;">
                                This content requires HTML5 &amp; Javascript or Adobe Flash Player Version 9 or higher.
                            </div>
                            <script type="text/javascript">

                                // create the object player with the container
                                obj=new object2vrPlayer("container2");
                                // add the skin object
                                skin=new object2vrSkin(obj);
                                // load the configuration
                                obj.readConfigUrl("others/ship2/xin2_out.xml");
                            </script>
                            <noscript>
                                <p><b>Please enable Javascript!</b></p>
                            </noscript>
                        </figure>
                    </div>
                    <!-- text wrapper -->
                    <div class="chuan_introbox">
                        <div class="text-wrapper active">
                            <p class="chuan_title_1">绿眉毛船</p>
                            <p class="chuan_intro">吃水深2.2米，排水量230吨；采用古老的木制舵，舵长11米，宽2.3米；有三桅五帆，其中主桅高24.5米，主帆三面，使用风力航速最高可达每小时9海里；因船头似鸟嘴呈尖型，又称“鸟船”（古代浙人认为是鸟衔来稻谷种子，才造就了浙江的鱼米之乡，所以把船头做成鸟嘴状）。 舟山“绿眉毛”号传统帆船，船首形似鸟嘴，简称鸟船，因船头眼上方有条绿色眉而得名，是我国鸟船系列中的优秀船型，并与沙船、福船、广船一起，形成中国古代“四大名船”。</p>
                        </div>
                        <div class="text-wrapper">
                            <h1>救生艇（小）</h1>
                            <p class="chuan_intro">救生艇是指设于船上，供船失事时救护乘员用的专用救生小艇。利用划桨、驶帆、动力机等推进。艇内常装有空气箱，使艇在进水后仍有足够浮力以保证艇及艇上人员的安全。海船的救生艇上还备有一定量的淡水、食物和生活用品等。</p>
                        </div>
                        <div class="text-wrapper">
                            <h1>救生艇（大）</h1>
                            <p class="chuan_intro">救生艇是指设于船上，供船失事时救护乘员用的专用救生小艇。利用划桨、驶帆、动力机等推进。艇内常装有空气箱，使艇在进水后仍有足够浮力以保证艇及艇上人员的安全。海船的救生艇上还备有一定量的淡水、食物和生活用品等。</p>
                        </div>
                    </div>
                </div>
                <!-- controls wrapper -->
                <div class="controls-wrapper">
                    <div class="controls">
                        <!-- circular line -->
                        <div id="circular-line">
                            <svg width="38px" height="38px" viewBox="0 0 38 38" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <circle id="circular-line-path" stroke-width="4" cx="19" cy="19" r="17"></circle>
                                </g>
                            </svg>
                        </div>

                        <!-- straight line -->
                        <div class="straight-line"></div>

                        <div class="dot active"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="case_03" style="background-color: lightskyblue">
        <!--标题-->
        <div class="chuan_title" style="color: white">
            <p>—— 船模制作工艺 ——</p>
        </div>
        <!--标题-->
        <!--船模步骤-->
        <div id="tab" class="process" >
            <ol class="process-items">
                <li class="active">第一步
                    <em>了解图纸内容</em>
                </li>
                <li>第二步
                    <em>画图纸</em></li>
                <li>第三步
                    <em>做肋骨</em></li>
                <li>第四步
                    <em>放骨架</em></li>
                <li>第五步
                    <em>蒙船板</em></li>
                <li>第六步
                    <em>安甲板</em></li>
                <li>第七步
                    <em>做舱面部分</em></li>
                <li>第八步
                    <em>打磨，上油漆，做帆布</em></li>
            </ol>
            <canvas id="canvas" width="1600" height="55" ></canvas>  <!--控制线长-->
        </div>
        <div id="kapian" class="chuan_buzou">
            <ul>
                <li class="mubiao">  <!--111-->
                    <div class="mb_nrkuang">
                        <div class="mb_nrzuo" >
                            <video  id="shiping1" src="{{data.[0].curl}}" controls="controls" width="800" ></video>
                        </div>
                        <div class="mb_nryou" >
                            <p style="font-size: 25px">第一步：了解图纸内容</p><br>
                            <p style="font-size: 20px;text-indent:2em;">了解模板的长度尺寸</p>
                        </div>
                    </div>
                </li>
                <li><!--222-->
                    <div class="mb_nrkuang">
                        <div class="mb_nrzuo" >
                            <video src="{{data.[1].curl}}" controls="controls" width="800" ></video>
                        </div>
                        <div class="mb_nryou" >
                            <p style="font-size: 25px">第二步：画图纸</p><br>
                            <p style="font-size: 20px;text-indent:2em;">画出或复印出所需船模长度按比例放大的图纸</p>
                        </div>
                    </div>
                </li>
                <li><!--333-->
                    <div class="mb_nrkuang">
                        <div class="mb_nrzuo" >
                            <video src="{{data.[2].curl}}" controls="controls" width="800" ></video>
                        </div>
                        <div class="mb_nryou" >
                            <p style="font-size: 25px">第三步：做肋骨</p><br>
                            <p style="font-size: 20px;text-indent:2em;">在木材上贴上图纸，锯出相应形状大小的肋骨</p>
                        </div>
                    </div>
                </li>
                <li><!--444-->
                    <div class="mb_nrkuang">
                        <div class="mb_nrzuo" >
                            <video src="{{data.[3].curl}}" controls="controls" width="800" ></video>
                        </div>
                        <div class="mb_nryou" >
                            <p style="font-size: 25px">第四步：放骨架</p><br>
                            <p style="font-size: 20px;text-indent:2em;">根据图纸内容将骨架一块块按好，按好骨架后再近些适当的修正</p>
                        </div>
                    </div>
                </li>
                <li><!--555-->
                    <div class="mb_nrkuang">
                        <div class="mb_nrzuo" >
                            <video src="{{data.[4].curl}}" controls="controls" width="800" ></video>
                        </div>
                        <div class="mb_nryou" >
                            <p style="font-size: 25px">第五步：蒙船板</p><br>
                            <p style="font-size: 20px;text-indent:2em;">根据树的直径来做出一条条的细条，再根据图纸的宽度把细条一条条的粘接</p>
                        </div>
                    </div>
                </li>
                <li><!--666-->
                    <div class="mb_nrkuang">
                        <div class="mb_nrzuo" >
                            <video src="{{data.[5].curl}}" controls="controls" width="800" ></video>
                        </div>
                        <div class="mb_nryou" >
                            <p style="font-size: 25px">第六步：安甲板</p><br>
                            <p style="font-size: 20px;text-indent:2em;">根据图纸宽度先做出一个样板，然后开始蒙板面</p>
                        </div>
                    </div>
                </li>
                <li><!--777-->
                    <div class="mb_nrkuang">
                        <div class="mb_nrzuo" >
                            <video src="{{data.[6].curl}}" controls="controls"   width="800" ></video>
                        </div>
                        <div class="mb_nryou" >
                            <p style="font-size: 25px">第七步：做舱面部分</p><br>
                            <p style="font-size: 20px;text-indent:2em;">就是做甲板以上的部件，有舱板，舵，起锚，桅杆和滑轮等等，把所有部件装好后再进行打磨</p>
                        </div>
                    </div>
                </li>
                <li><!--888-->
                    <div class="mb_nrkuang">
                        <div class="mb_nrzuo" >
                            <video src="{{data.[7].curl}}" controls="controls"  width="800" ></video>
                        </div>
                        <div class="mb_nryou" >
                            <p style="font-size: 25px">第八步：打磨，上油漆，做帆布</p><br>
                            <p style="font-size: 20px;text-indent:2em;">将船模安装好后进行打磨，上油漆可以让船模变得更好看，保存得也更久上油漆；帆布一般是用棉布做成的，做好后可用植物颜料进行染色</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <script type="text/javascript">
            window.onload = function(){
                var oDiv = document.getElementById("tab");
                var lis = oDiv.getElementsByTagName("li");
                var oDivCon = document.getElementById("listCon");
                var lisDiv = oDivCon.getElementsByTagName("li");
                for(var i=0;i<lis.length;i++){
                    lis[i].index = i;
                    lis[i].mousemove = function(){
                        show(this.index);
                    }
                }
                function show(a){
                    for(var j=0;j<lis.length;j++){
                        lis[j].className = "";
                        lisDiv[j].className = "";
                    }
                    lis[a].className = "cur";
                    lisDiv[a].className = "cur";
                }
            }
        </script><!--图片类型切换js动效-->
    </div>
    <!--船模步骤-->
</div>
{{js "/js/interaction.js"}}
{{js "/js/TweenMax.min.js"}}
{{js "/js/yi_chuan.js"}}