{{css "/css/auth.css"}}
{{css "/css/base.css"}}
{{css "/css/yi_diao.css"}}
{{css "/css/liucheng.css"}}
<div class="case_00">
    <!--主-->
    <div id="nav_content" class="case_01"></div>
    <!--主_01-->
    <div class="case_02">
        <!--标题-->
        <div class="tj_biaoti">
            <p>—— 沙雕制作 ——</p>
        </div>
        <!--标题-->
        <!--制作-->
        <div class="case_02_a">
            <!--工具-->
            <!--小标题-->
            <div class="xiaobiaoti">
                <div class="yuandian"></div>
                所需工具
            </div>
            <!--小标题-->
            <!--工具图片-->
            <ul style="/*border: 2px solid violet*/">
                <li>
                    <img src="images/tp_yi/diao/gongju01.png">
                    <div>
                        <span>
                        沙
                        </span>
                    </div>
                </li>
                <li>
                    <img src="images/tp_yi/diao/gongju02.png">
                    <div>
                        <span>
                        雕刀
                    </span>
                    </div>
                </li>
                <li>
                    <img src="images/tp_yi/diao/gongju03.png">
                    <div>
                        <span>
                        胶水
                    </span>
                    </div>
                </li>
                <li>
                    <img src="images/tp_yi/diao/gongju04.png">
                    <div>
                        <span>
                        吸管
                        </span>
                    </div>
                </li>
                <li>
                    <img src="images/tp_yi/diao/gongju05.png">
                    <div>
                        <span>
                        水壶
                        </span>
                    </div>
                </li>
                <li>
                    <img src="images/tp_yi/diao/gongju06.png">
                    <div>
                        <span>
                        水
                        </span>
                    </div>
                </li>
            </ul>
            <!--工具图片-->
            <!--工具-->
            <!--流程-->
            <!--小标题-->
            <div class="xiaobiaoti" style="margin-top: 90px">
                <div class="yuandian"></div>
                大致流程
            </div>
            <!--小标题-->
            <!--流程动效-->
            <div class="flow">
                <div class="fp-tableCell">
                    <div class="inner-item">
                        <div class="i-process end">
                            <div class="list clearfix">
                                <div class="btn h poa t-c" style="transform: translate(0px, 0px); opacity: 1;">
                                    <div class="circle por t-f fl"></div>
                                    <div class="light por"></div>
                                    <p>堆沙</p>
                                </div>
                                <div class="btn h poa t-c" style="transform: translate(0px, 0px); opacity: 1;">
                                    <p>切大块面</p>
                                    <div class="light por"></div>
                                    <div class="circle por t-f fl"></div>
                                </div>
                                <div class="btn h poa t-c" style="transform: translate(0px, 0px); opacity: 1;">
                                    <div class="circle por t-f fl"></div>
                                    <div class="light por"></div>
                                    <p>自上而下局部完成</p>
                                </div>
                                <div class="btn h poa t-c" style="transform: translate(0px, 0px); opacity: 1;">
                                    <p>喷胶</p>
                                    <div class="light por"></div>
                                    <div class="circle por t-f fl"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">

                $(function() {

                    $(".i-process .btn").eq(0).addClass("cur")

                    var LightNum = 0
                            , LightAuto = setInterval(function() {

                        LightNum++;

                        if (LightNum == $(".i-process .btn").length) {

                            LightNum = 0

                        }

                        $(".i-process .btn").eq(LightNum).addClass("cur").siblings().removeClass("cur")

                    }, 3000);

                });

            </script>
            <!--流程动效-->
            <!--流程-->
        </div>
        <!--制作-->
    </div>
    <!--主_01-->
    <!--主_02-->
    <div class="case_03">
        <!--标题-->
        <div class="tj_biaoti02">
            <p>—— 作品展示 ——</p>
        </div>
        <!--标题-->
        <div class="case_03_a">
            <img style="margin-left: 0px;margin-top: 0px" src="images/tp_yi/diao/shadiao001.png">
            <img style="margin-left: 507px;margin-top: 0px" src="images/tp_yi/diao/shadiao02.png">
            <img style="margin-left: 507px;margin-top: 324px" src="images/tp_yi/diao/shadiao03.png">
            <img style="margin-left: 855px;margin-top: 324px" src="images/tp_yi/diao/shadiao04.png">
            <img style="margin-left: 1243px;margin-top: 0px" src="images/tp_yi/diao/shadiao05.png">
        </div>
    </div>
    <!--主_02-->
    <!--主-->
</div>
{{js "/js/jquery-1.12.4.min.js"}}
{{js "/js/yi_diao.js"}}