{{css "/css/auth.css"}}
{{css "/css/base.css"}}
{{css "/css/yi_sheng.css"}}
<div class="case_00">
    <div id="nav_content" class="case_01" >
        <div>
            <img src="images/tp_yi/sheng/绳结.png" style="position: relative;width:100%;">
        </div>
    </div>
    <div class="case_02">
        <div class="tj_biaoti">
            <p>—— 绳结分类 ——</p>
        </div>
        <div class="case_01_a">
            <div id="tab">
                <div id="list01" class="list">
                    <ul>
                        <li id='sheng_jiben'><a href="/yi_sheng?type=1"><span>基本绳结</span></a></li>
                        <li id='sheng_yuyong'><a href="/yi_sheng?type=2"><span>渔用绳结</span></a></li>
                        <li id='sheng_zonghe'><a href="/yi_sheng?type=3"><span>综合绳结</span></a></li>
                    </ul>
                </div>
                <div id="listCon">
                    <!--基本绳结-->
                    <article id="shengjie_intro" class="cur">
                        <div class="style_neirong">
                            {{#each data}}
                            <div>
                                <section>
                                    <a href="yi_sheng_detail">
                                    <img src="{{this.simg}}">
                                    </a>
                                    <p class="sheng_name">{{this.sname}}</p>
                                    <aside>
                                        <p class="teshe">•特色</p>
                                        <p>{{this.sfeature}}</p>
                                        <p class="teshe">•用途</p>
                                        <p>{{this.susing}}</p>
                                    </aside>
                                </section>
                            </div>
                            {{/each}}
                            <!--<div>-->
                                <!--<section>-->
                                    <!--<img src="images/tp_yi/sheng/绳结卡片_图片.png">-->
                                    <!--<p class="sheng_name">单绳</p>-->
                                    <!--<aside>-->
                                        <!--<p class="teshe">•特色</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                        <!--<p class="teshe">•用途</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                    <!--</aside>-->
                                <!--</section>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<section>-->
                                    <!--<img src="images/tp_yi/sheng/绳结卡片_图片.png">-->
                                    <!--<p class="sheng_name">单绳</p>-->
                                    <!--<aside>-->
                                        <!--<p class="teshe">•特色</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                        <!--<p class="teshe">•用途</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                    <!--</aside>-->
                                <!--</section>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<section>-->
                                    <!--<img src="images/tp_yi/sheng/绳结卡片_图片.png">-->
                                    <!--<p class="sheng_name">单绳</p>-->
                                    <!--<aside>-->
                                        <!--<p class="teshe">•特色</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                        <!--<p class="teshe">•用途</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                    <!--</aside>-->
                                <!--</section>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<section>-->
                                    <!--<img src="images/tp_yi/sheng/绳结卡片_图片.png">-->
                                    <!--<p class="sheng_name">单绳</p>-->
                                    <!--<aside>-->
                                        <!--<p class="teshe">•特色</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                        <!--<p class="teshe">•用途</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                    <!--</aside>-->
                                <!--</section>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<section>-->
                                    <!--<img src="images/tp_yi/sheng/绳结卡片_图片.png">-->
                                    <!--<p class="sheng_name">单绳</p>-->
                                    <!--<aside>-->
                                        <!--<p class="teshe">•特色</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                        <!--<p class="teshe">•用途</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                    <!--</aside>-->
                                <!--</section>-->
                            <!--</div>-->
                        </div>
                        <!--序列-->
                        <div class="xulie" style="width: fit-content;margin: 50px auto">
                            <ul>
                                <li>
                                    <div style="background-color: #3a9dff;color: #FFFFFF;font-size: 25px">
                                        1
                                    </div>
                                </li>
                                <li>
                                    <div style="background-color: white;color: #ACACAC;font-size: 25px">
                                        2
                                    </div>
                                </li>
                                <li>
                                    <div style="background-color: white;color: #ACACAC;font-size: 25px">
                                        3
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--序列-->
                    </article>
                    <!--基本绳结-->

                    <!--渔用绳结-->
                    <!--<article >-->
                        <!--<div class="style_neirong">-->
                            <!--<div>-->
                                <!--<section>-->
                                    <!--<img src="images/tp_yi/sheng/绳结卡片_图片.png">-->
                                    <!--<p class="sheng_name">渔用绳结</p>-->
                                    <!--<aside>-->
                                        <!--<p class="teshe">•特色</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                        <!--<p class="teshe">•用途</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                    <!--</aside>-->
                                <!--</section>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<section>-->
                                    <!--<img src="images/tp_yi/sheng/绳结卡片_图片.png">-->
                                    <!--<p class="sheng_name">渔用绳结</p>-->
                                    <!--<aside>-->
                                        <!--<p class="teshe">•特色</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                        <!--<p class="teshe">•用途</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                    <!--</aside>-->
                                <!--</section>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<section>-->
                                    <!--<img src="images/tp_yi/sheng/绳结卡片_图片.png">-->
                                    <!--<p class="sheng_name">渔用绳结</p>-->
                                    <!--<aside>-->
                                        <!--<p class="teshe">•特色</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                        <!--<p class="teshe">•用途</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                    <!--</aside>-->
                                <!--</section>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<section>-->
                                    <!--<img src="images/tp_yi/sheng/绳结卡片_图片.png">-->
                                    <!--<p class="sheng_name">渔用绳结</p>-->
                                    <!--<aside>-->
                                        <!--<p class="teshe">•特色</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                        <!--<p class="teshe">•用途</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                    <!--</aside>-->
                                <!--</section>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<section>-->
                                    <!--<img src="images/tp_yi/sheng/绳结卡片_图片.png">-->
                                    <!--<p class="sheng_name">渔用绳结</p>-->
                                    <!--<aside>-->
                                        <!--<p class="teshe">•特色</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                        <!--<p class="teshe">•用途</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                    <!--</aside>-->
                                <!--</section>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<section>-->
                                    <!--<img src="images/tp_yi/sheng/绳结卡片_图片.png">-->
                                    <!--<p class="sheng_name">渔用绳结</p>-->
                                    <!--<aside>-->
                                        <!--<p class="teshe">•特色</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                        <!--<p class="teshe">•用途</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                    <!--</aside>-->
                                <!--</section>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</article>-->
                    <!--渔用绳结-->

                    <!--综合绳结-->
                    <!--<article>-->
                        <!--<div class="style_neirong">-->
                            <!--<div>-->
                                <!--<section>-->
                                    <!--<img src="images/tp_yi/sheng/绳结卡片_图片.png">-->
                                    <!--<p class="sheng_name">综合绳结</p>-->
                                    <!--<aside>-->
                                        <!--<p class="teshe">•特色</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                        <!--<p class="teshe">•用途</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                    <!--</aside>-->
                                <!--</section>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<section>-->
                                    <!--<img src="images/tp_yi/sheng/绳结卡片_图片.png">-->
                                    <!--<p class="sheng_name">综合绳结</p>-->
                                    <!--<aside>-->
                                        <!--<p class="teshe">•特色</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                        <!--<p class="teshe">•用途</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                    <!--</aside>-->
                                <!--</section>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<section>-->
                                    <!--<img src="images/tp_yi/sheng/绳结卡片_图片.png">-->
                                    <!--<p class="sheng_name">综合绳结</p>-->
                                    <!--<aside>-->
                                        <!--<p class="teshe">•特色</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                        <!--<p class="teshe">•用途</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                    <!--</aside>-->
                                <!--</section>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<section>-->
                                    <!--<img src="images/tp_yi/sheng/绳结卡片_图片.png">-->
                                    <!--<p class="sheng_name">综合绳结</p>-->
                                    <!--<aside>-->
                                        <!--<p class="teshe">•特色</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                        <!--<p class="teshe">•用途</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                    <!--</aside>-->
                                <!--</section>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<section>-->
                                    <!--<img src="images/tp_yi/sheng/绳结卡片_图片.png">-->
                                    <!--<p class="sheng_name">综合绳结</p>-->
                                    <!--<aside>-->
                                        <!--<p class="teshe">•特色</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                        <!--<p class="teshe">•用途</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                    <!--</aside>-->
                                <!--</section>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<section>-->
                                    <!--<img src="images/tp_yi/sheng/绳结卡片_图片.png">-->
                                    <!--<p class="sheng_name">综合绳结</p>-->
                                    <!--<aside>-->
                                        <!--<p class="teshe">•特色</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                        <!--<p class="teshe">•用途</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                    <!--</aside>-->
                                <!--</section>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</article>-->
                    <!--综合绳结-->
                </div>
                <script type="text/javascript">
                    window.onload = function(){
                        var oDiv = document.getElementById("list01");
                        var lis = oDiv.getElementsByTagName("li");
                        var oDivCon = document.getElementById("listCon");
                        var lisDiv = oDivCon.getElementsByTagName("article");
                        for(var i=0;i<lis.length;i++){
                            lis[i].index = i;
                            lis[i].onclick = function(){
                                show(this.index);
                            }
                        }
                        function show(a){
                            for(var j=0;j<lis.length;j++){
                                lis[j].className = "";
                                lisDiv[j].className = "";
                            }
                            lis[a].className = "cur";
                            lisDiv[a].className = "cur";
                        }
                    }
                </script><!--图片类型切换js动效-->
            </div>
        </div>
    </div>
</div>
<script>
    // window.load(function () {
    //     if(window.location.href==='/yi_sheng?type=2'){
    //         $('#sheng_yuyong').className='cur';
    //         $('#sheng_jiben').className='';
    //         $('#sheng_zonghe').className='';
    //     }
    //     else if(window.location.href==='/yi_sheng?type=3'){
    //         $('#sheng_yuyong').className='';
    //         $('#sheng_jiben').className='';
    //         $('#sheng_zonghe').className='cur';
    //     }
    //     else{
    //         $('#sheng_yuyong').className='';
    //         $('#sheng_jiben').className='cur';
    //         $('#sheng_zonghe').className='';
    //     }
    // })
    // $(document).ready(function() {
    //     var hash = window.location.hash.substr(1);
    //     var href = $('#list01 ul li').each(function(){
    //         var href = $(this).attr('href');
    //         if(hash===href.substr(0,href.length)){
    //             var toLoad = hash+'#shengjie_intro';
    //             $('#shengjie_intro').load(toLoad)
    //         }
    //     });
    //     $('#list01 ul li').click(function () {
    //         $('.cur').removeClass('cur');
    //         $(this).addClass('cur');
    //     })
    // });
</script>
{{js "/js/yi_sheng.js"}}

