{{css "/css/yu.css"}}
{{css "/css/auth.css"}}
{{css "/css/index.css"}}{{css "/css/font-awesome.min.css"}}

{{css "/css/base.css"}}
<div style="width:100%;" xmlns="http://www.w3.org/1999/html">
    <div id="nav_content" class="case_01" >
        <!--<div id="homepage" style="display: block;height:100%;">-->
        <!--<div style="width: 100%;height: 256px;">-->
        <!--<div id="top_text" style=" float: right;width:fit-content;margin-left:50%;margin-right:10%;height: fit-content;display: block;position: absolute;-->
        <!--margin-top: 20%;">-->
        <!--纯图片-->
        <!--<div style="margin-bottom: 5%;">-->
        <!--<p style="font-size: 35px;color:#FFF;text-shadow:1px 1px 2px rgba(0,0,0,0.70);"></p>-->
        <!--</div>-->
        <!--<div style="margin-bottom: 5%;">-->
        <!--<p style="font-family:Source Han Sans CN;font-size: 20px;color: #FFFFFF;text-align:center;text-shadow:1px 1px 2px rgba(0,0,0,0.70); line-height: 51px;">-->
        <!--舟山市位于长江口南测、杭州湾外缘的东海海域。舟山群岛由 嵊泗列岛、-->
        <!--马鞍列岛、崎岖列岛、川湖列岛、中街山列岛、浪岗山列岛、七姊八妹列岛、火山列岛和梅散列岛组成。-->
        <!--</p>-->
        <!--</div>-->
        <!--<div  class="chakan"  style="margin-left: 35%;">-->
        <!--<div class="theme-2">-->
        <!--<div style="height: 0; width: 0; position: absolute; visibility: hidden;" aria-hidden="true">-->
        <!--<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">-->
        <!--&lt;!&ndash; Because of Firefox. &ndash;&gt;-->
        <!--<defs>-->
        <!--<radialGradient id="gradient">-->
        <!--<stop offset="0" stop-color="#0868BB" />-->
        <!--<stop offset="0.25" stop-color="#0075D8" />-->
        <!--<stop offset="0.35" stop-color="#0868BB" />-->
        <!--<stop offset="0.50" stop-color="#0075D8" />-->
        <!--<stop offset="0.60" stop-color="#0868BB" />-->
        <!--<stop offset="0.85" stop-color="#0075D8" />-->
        <!--<stop offset="1" stop-color="#0868BB" />-->
        <!--</radialGradient>-->
        <!--</defs>-->
        <!--<symbol id="ripply-scott" viewBox="0 0 100 100">-->
        <!--<circle id="ripple-shape" fill="url(#gradient)" cx="1" cy="1" r="1" />-->
        <!--</symbol>-->
        <!--</svg>-->
        <!--</div>-->
        <!--<a href="x_meitu">-->
        <!--<button id="js-ripple-btn" class="button styl-material">-->
        <!--更多美图-->
        <!--<svg class="ripple-obj" id="js-ripple">-->
        <!--<use height="100" width="100" xlink:href="#ripply-scott" class="js-ripple"></use>-->
        <!--</svg>-->
        <!--</button>-->
        <!--</a>-->
        <!--</div>-->
        <!--</div>-->
        <!--纯图片-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--背景图片start-->
        <div>
            <img src="images/tp_yu/IMG_0093.png"
                 style="position: relative;width:100%">
        </div>
        <!--背景图片end-->
    </div>
    <div id="yuzhou" style="height:1700px;margin-top: 100px;">
        <div class="yuzhou_title">
            <p>——渔舟唱晚——</p>
        </div>
        <div>
            <select id="tabs">
                <option>作业水域</option>
                <option>船体材料</option>
                <option>推进方式</option>
                <option>担负任务</option>
            </select>
            <div id="yu_contentbox">
                <div id ="chanpin1">
                    <div class="chanpin_title">
                        <button onclick=chanpin1_show1() class="button11">不限</button>
                        <button onclick=chanpin1_show2() class="button1">沿岸渔船</button>
                        <button onclick=chanpin1_show3() class="button1">近海渔船</button>
                        <button onclick=chanpin1_show4() class="button1">远洋渔船</button>
                        <button onclick=chanpin1_show5() class="button1">淡水渔船</button>
                    </div>
                    <div id="chanpin1_1" style="display: block" >
                        <div>
                            <img src="images/tp_yu/IMG_0172.JPG" onclick=chuan1() id="chuan1">
                            <div class="quanping" style="width: 107%;height: 107%;" onclick=chuan1_small()>
                                <div class="close-tag" style="width: 100%">
                                    <!--<img src="images/tp_home/close.png" style="margin-left: 80%;width: 50px;">-->
                                </div>
                                <img src="images/tp_yu/IMG_0172.JPG" style="width: 50%; padding: 10px 10px 10px 10px;background-color: white;margin-top:50px;">
                                <p style="margin-top: 50px;color: white">大对船-木质-人力</p>
                            </div>
                            <p>大对船</p>
                            <label>木质</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1442.JPG">
                            <p>大钓船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_1457.JPG">
                            <p>小钓船</p><label>沿岸</label>
                            <label>人力</label></div>
                        <div>
                            <img src="images/tp_yu/IMG_1458.JPG">
                            <p>小白钓</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1527.JPG">
                            <p>绿眉毛船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_1531.JPG">
                            <p>中对渔船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_3404.JPG">
                            <p>二帆式机帆船</p>
                            <label>沿岸</label>
                            <label>机动</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9877.JPG">
                            <p>三帆式机帆船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9880.JPG">
                            <p>八字头半大型机帆船（桅船）</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                    </div>
                    <div id="chanpin1_2" style="display: none;">
                        <div>
                            <img src="images/tp_yu/IMG_1458.JPG">
                            <p>八字头大型船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1527.JPG">
                            <p>尖头小大型船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1531.JPG">
                            <p>尖头大型式船 </p>
                            <label>沿岸</label>
                            <label>机动</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_3404.JPG">
                            <p>绿眉毛船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9877.JPG">
                            <p>二帆式机帆船</p>
                            <label>沿岸</label>
                            <label>机动</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9880.JPG">
                            <p>中对渔船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_0172.JPG">
                            <p>大钓船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1442.JPG">
                            <p>小钓船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1457.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                    </div>
                    <div id="chanpin1_3" style="display: none;">
                        <div>
                            <img src="images/tp_yu/IMG_1531.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1457.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1458.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1527.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_3404.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9877.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9880.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_0172.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1442.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                    </div>
                    <div id="chanpin1_4" style="display: none;">
                        <div>
                            <img src="images/tp_yu/IMG_0172.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1458.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1527.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1531.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_3404.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9877.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9880.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1442.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1457.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                    </div>
                    <div id="chanpin1_5" style="display: none;">
                        <div>
                            <img src="images/tp_yu/IMG_1527.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1531.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_3404.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9877.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9880.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1458.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_0172.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1442.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1457.JPG">
                            <p>大对船</p>
                            <label>沿岸</label>
                            <label>人力</label>
                        </div>
                    </div>
                </div>
                <div id ="chanpin2"  >
                    <div class="chanpin_title">
                        <button onclick=chanpin2_show1() class="button22" >不限</button>
                        <button onclick=chanpin2_show2() class="button1">木质渔船</button>
                        <button onclick=chanpin2_show3() class="button1">钢制渔船</button>
                        <button onclick=chanpin2_show4() class="button1">钛合金船</button>
                        <button onclick=chanpin2_show5() class="button1">混合材料</button>
                    </div>
                    <div id="chanpin2_1" style="display: block" >
                        <div>
                            <img src="images/tp_yu/IMG_0172.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1442.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_1457.JPG">
                            <p>大对船</p><label>标签1</label>
                            <label>标签2</label></div>
                        <div>
                            <img src="images/tp_yu/IMG_1458.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1527.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_1531.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_3404.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9877.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9880.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                    </div>
                    <div id="chanpin2_2" style="display: none;">
                        <div>
                            <img src="images/tp_yu/IMG_1442.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_1457.JPG">
                            <p>大对船</p><label>标签1</label>
                            <label>标签2</label></div>
                        <div>
                            <img src="images/tp_yu/IMG_0172.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>

                        <div>
                            <img src="images/tp_yu/IMG_1458.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1527.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_1531.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_3404.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9877.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9880.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                    </div>
                    <div id="chanpin2_3" style="display: none;">
                        <div><img src="images/tp_yu/IMG_1531.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_0172.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1442.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_1457.JPG">
                            <p>大对船</p><label>标签1</label>
                            <label>标签2</label></div>
                        <div>
                            <img src="images/tp_yu/IMG_1458.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1527.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>

                        <div><img src="images/tp_yu/IMG_3404.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9877.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9880.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>

                    </div>
                    <div id="chanpin2_4" style="display: none;">
                        <div>
                            <img src="images/tp_yu/IMG_9877.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_0172.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1442.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_1457.JPG">
                            <p>大对船</p><label>标签1</label>
                            <label>标签2</label></div>
                        <div>
                            <img src="images/tp_yu/IMG_1458.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1527.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_1531.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_3404.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>

                        <div>
                            <img src="images/tp_yu/IMG_9880.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                    </div>
                    <div id="chanpin2_5" style="display: none;">
                        <div>
                            <img src="images/tp_yu/IMG_1458.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1527.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_1531.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_3404.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_0172.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1442.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_1457.JPG">
                            <p>大对船</p><label>标签1</label>
                            <label>标签2</label></div>

                        <div>
                            <img src="images/tp_yu/IMG_9877.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9880.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                    </div>
                </div>
                <div id ="chanpin3">
                    <div class="chanpin_title">
                        <button onclick=chanpin3_show1() class="button33" >不限</button>
                        <button onclick=chanpin3_show2() class="button1">机动渔船</button>
                        <button onclick=chanpin3_show3() class="button1">风帆渔船</button>
                        <button onclick=chanpin3_show4() class="button1">手动渔船</button>
                    </div>
                    <div id="chanpin3_1" style="display: block" >
                        <div>
                            <img src="images/tp_yu/IMG_0172.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1442.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_1457.JPG">
                            <p>大对船</p><label>标签1</label>
                            <label>标签2</label></div>
                        <div>
                            <img src="images/tp_yu/IMG_1458.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1527.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_1531.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_3404.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9877.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9880.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                    </div>
                    <div id="chanpin3_2" style="display: none;">
                        <div>
                            <img src="images/tp_yu/IMG_1442.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_1457.JPG">
                            <p>大对船</p><label>标签1</label>
                            <label>标签2</label></div>
                        <div>
                            <img src="images/tp_yu/IMG_0172.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>

                        <div>
                            <img src="images/tp_yu/IMG_1458.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1527.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_1531.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_3404.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9877.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9880.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                    </div>
                    <div id="chanpin3_3" style="display: none;">
                        <div><img src="images/tp_yu/IMG_1531.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_0172.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1442.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_1457.JPG">
                            <p>大对船</p><label>标签1</label>
                            <label>标签2</label></div>
                        <div>
                            <img src="images/tp_yu/IMG_1458.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1527.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>

                        <div><img src="images/tp_yu/IMG_3404.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9877.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9880.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>

                    </div>
                    <div id="chanpin3_4" style="display: none;">
                        <div>
                            <img src="images/tp_yu/IMG_9877.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_0172.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1442.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_1457.JPG">
                            <p>大对船</p><label>标签1</label>
                            <label>标签2</label></div>
                        <div>
                            <img src="images/tp_yu/IMG_1458.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1527.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_1531.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_3404.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>

                        <div>
                            <img src="images/tp_yu/IMG_9880.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                    </div>
                    <div id="chanpin3_5" style="display: none;">
                        <div>
                            <img src="images/tp_yu/IMG_1458.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1527.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_1531.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_3404.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_0172.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1442.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_1457.JPG">
                            <p>大对船</p><label>标签1</label>
                            <label>标签2</label></div>

                        <div>
                            <img src="images/tp_yu/IMG_9877.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9880.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                    </div>
                </div>
                <div id ="chanpin4">
                    <div class="chanpin_title">
                        <button onclick=chanpin4_show1() class="button44" >不限</button>
                        <button onclick=chanpin4_show2() class="button1">捕捞渔船</button>
                        <button onclick=chanpin4_show3() class="button1">辅助渔船</button>
                    </div>
                    <div id="chanpin4_1" style="display: block" >
                        <div>
                            <img src="images/tp_yu/IMG_0172.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1442.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_1457.JPG">
                            <p>大对船</p><label>标签1</label>
                            <label>标签2</label></div>
                        <div>
                            <img src="images/tp_yu/IMG_1458.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1527.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_1531.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_3404.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9877.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9880.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                    </div>
                    <div id="chanpin4_2" style="display: none;">
                        <div>
                            <img src="images/tp_yu/IMG_1442.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_1457.JPG">
                            <p>大对船</p><label>标签1</label>
                            <label>标签2</label></div>
                        <div>
                            <img src="images/tp_yu/IMG_0172.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>

                        <div>
                            <img src="images/tp_yu/IMG_1458.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1527.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_1531.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_3404.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9877.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9880.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                    </div>
                    <div id="chanpin4_3" style="display: none;">
                        <div><img src="images/tp_yu/IMG_1531.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_0172.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1442.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div><img src="images/tp_yu/IMG_1457.JPG">
                            <p>大对船</p><label>标签1</label>
                            <label>标签2</label></div>
                        <div>
                            <img src="images/tp_yu/IMG_1458.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_1527.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>

                        <div><img src="images/tp_yu/IMG_3404.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9877.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>
                        <div>
                            <img src="images/tp_yu/IMG_9880.JPG">
                            <p>大对船</p>
                            <label>标签1</label>
                            <label>标签2</label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div style="display: flex;justify-content: center;margin-top:150px">
            <img src="images/tp_yu/shengjie.png ">
        </div>

    </div>
    <!--渔海为生动画-->
    <div id="yuhai">
        <div>
            <p class="yuzhou_title">——渔海为生——</p>
        </div>
        <div id="flashContent" style="display: flex;justify-content: center">
            <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="1920" height="1080" id="dayu" align="middle">
                <param name="movie" value="others/dayu.swf" />
                <param name="quality" value="high" />
                <param name="bgcolor" value="#ffffff" />
                <param name="play" value="true" />
                <param name="loop" value="false" />
                <param name="wmode" value="window" />
                <param name="scale" value="showall" />
                <param name="menu" value="true" />
                <param name="devicefont" value="false" />
                <param name="salign" value="" />
                <param name="allowScriptAccess" value="sameDomain" />
                <!--[if !IE]>-->
                <object type="application/x-shockwave-flash" data="others/dayu.swf" width="1920" height="1080">
                    <param name="movie" value="dayu.swf" />
                    <param name="quality" value="high" />
                    <param name="bgcolor" value="#ffffff" />
                    <param name="play" value="true" />
                    <param name="loop" value="false" />
                    <param name="wmode" value="window" />
                    <param name="scale" value="showall" />
                    <param name="menu" value="true" />
                    <param name="devicefont" value="false" />
                    <param name="salign" value="" />
                    <param name="allowScriptAccess" value="sameDomain" />
                    <!--<![endif]-->
                    <a href="http://www.adobe.com/go/getflash">
                        <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
                    </a>
                    <!--[if !IE]>-->
                </object>
                <!--<![endif]-->
            </object>
        </div>
    </div>
    <!--授人以渔-->
    <div id="shouren" class="YU">
        <div class="yuzhou_title">
            <p >——授人以鱼——</p>
        </div>
        <div id="fsm_container" class="fsm-container">
            <div id="btn1" class="fsm apple" >
                <i id="yu-btn" >
                    <img src="images/tp_yu/yu.png">
                </i>
                <div id="yu-content" style="display:none;width:1200px;margin-top: 25px;">
                    <div class="contentbox">
                        <!--<p class="description">鱼</p>-->
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/黄花鱼.jpg">
                                <p>黄花鱼</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">黄花鱼</p>
                                    <p class="back-content">
                                        黄花鱼与黄姑鱼虽然只一字之差，但是味道相差很大。
                                        黄花鱼鱼味鲜美，肉嫩滑且肉质呈蒜瓣状，而黄姑
                                        鱼则肉质较松粗，鲜美嫩滑程度不及黄花鱼。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/跳鱼0.jpg);">
                                <p>跳鱼</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">跳鱼</p>
                                    <p class="back-content">
                                        它习性狡猾，弹跳力极强，喜欢在潮水退后的海滩上跳跃，
                                        身上又有淡蓝色花斑，故名花跳鱼。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/甘鲷——马头鱼0.jpg);">
                                <p>甘鲷</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">甘鲷</p>
                                    <p class="back-content">
                                        马头鱼可用于美容瘦身、软化血管、排肠毒，
                                        利用延绳钓、底拖网渔法及船钓均可捕获。
                                        冰藏或冻藏，生鲜出售，为高价的食用鱼，
                                        肉质柔嫩鲜美。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/米鱼.jpg);">
                                <p>米鱼</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">米鱼</p>
                                    <p class="back-content">
                                        大米鱼性甘、咸、平，有养血、止血、
                                        补肾固精、润肺健脾和消炎功效。
                                        对治疗再生障碍性贫血，吐血，肾虚遗精，
                                        疮疖、痛肿、无名肿毒、乳腺炎等有效。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/大黄鱼.jpg)">
                                <p>大黄鱼</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">大黄鱼</p>
                                    <p class="back-content">
                                        大黄鱼为传统“四大海产”（大黄鱼、小黄鱼、带鱼、乌贼）之一，
                                        是我国近海主要经济鱼类。中医认为，黄鱼有和胃止血、益肾补虚、
                                        健脾开胃、安神止痢、益气填精之功效</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/鲳鱼.jpg);">
                                <p>鲳鱼</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">鲳鱼</p>
                                    <p class="back-content">
                                        鲳鱼具有益气养血、补胃益精、滑利关节、柔筋利骨之功效，
                                        对消化不良、脾虚泄泻、贫血、筋骨酸痛等很有效。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/文鳐鱼.jpg);">
                                <p>文鳐鱼</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">文鳐鱼</p>
                                    <p class="back-content">
                                        文鳐鱼，中药名。具有催产，止痛，解毒消肿之功效。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/乌塘鳢.jpg);">
                                <p>乌塘鳢</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">乌塘鳢</p>
                                    <p class="back-content">
                                        个体不大，常见个体体长为10-15厘米，体肥厚，
                                        肉鲜美，富营养，一向被视作佳品。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/带鱼.jpg);">
                                <p>带鱼</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">带鱼</p>
                                    <p class="back-content">
                                        带鱼具有结群排队的特性，每年春天回暖水温上升时，
                                        带鱼成群游向近岸，由南至北于生殖回游，是为捕捞季节。</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="fsm pied" >
                <i id="xia-btn">
                    <img src="images/tp_yu/xia.png">
                </i>
                <div id="xia-content" style="display: none;width:1200px;margin-top: 25px;">
                    <div class="contentbox">
                        <!--<p class="description">鱼</p>-->
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/对虾.jpg);">
                                <p>对虾</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">对虾</p>
                                    <p class="back-content">
                                        整只对虾的烹调方法有红烧、油炸、甜烤，
                                        加工成片、段后，可熘、炒、烤、煮汤，制成泥茸，可制虾饺、虾丸。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/脊尾白虾.jpg);">
                                <p>脊尾白虾</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">脊尾白虾</p>
                                    <p class="back-content">
                                        其肉质细嫩，味道鲜美。除供鲜食外，还可加工成海米，
                                        因其呈金黄色，故也有“金钩虾米”之称。其卵可于制成虾籽，也是上乘的海味干品。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/桃花虾.jpg);">
                                <p>桃花虾</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">桃花虾</p>
                                    <p class="back-content">
                                        桃花虾用于温拌、清炸、清炒、或配以应时菜蔬炒制，
                                        无不鲜美脆嫩。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#!">
                            <div class="front" style="background-image: url(images/tp_yu/皮皮虾.jpg);">
                                <p>皮皮虾</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">皮皮虾</p>
                                    <p class="back-content">
                                        皮皮虾两侧有倒刺，拿虾的时候，要头朝上，
                                        尾朝下，这样才不会被虾刺挂到。蒸熟的皮虾剥的时候只要一根筷子就搞定了。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#!">
                            <div class="front" style="background-image: url(images/tp_yu/中华管鞭虾.png);">
                                <p>中华管鞭虾</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">中华管鞭虾</p>
                                    <p class="back-content">
                                        中华管鞭虾的食性较广，除摄食底栖生物外，
                                        也摄食少量的底层游泳动物和浮游生物。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/竹节虾.jpg);">
                                <p>竹节虾</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">竹节虾</p>
                                    <p class="back-content">
                                        竹节虾（日本对虾），又名花虾、花尾虾、斑节虾、车虾、
                                        草虾、鬼虾，属暖水性大型虾类，是世界上三大养殖虾类
                                        中养殖面积和产量最大的对虾养殖品种。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/龙虾.jpg);">
                                <p>龙虾</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">龙虾</p>
                                    <p class="back-content">
                                        又名大虾、龙头虾、虾魁、海虾等。它头胸部较粗大，
                                        外壳坚硬，色彩斑斓，腹部短小，部分无螯，
                                        腹肢可后天演变成螯。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/须赤虾.png);">
                                <p>须赤虾</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">须赤虾</p>
                                    <p class="back-content">
                                        体型较长，甲壳厚而粗糙，有绒毛，体表有棕红色不规则斑块。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/毛虾.jpg);">
                                <p>毛虾</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">毛虾</p>
                                    <p class="back-content">
                                        虾皮是主要是由毛虾加工制成。</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="fsm codepen">
                <i id="bei-btn">
                    <img src="images/tp_yu/bei.png">
                </i>
                <div id="bei-content" style="display: none;width:1200px;margin-top: 25px;">
                    <div class="contentbox">
                        <!--<p class="description">鱼</p>-->
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/响螺.jpg);">
                                <p>响螺 </p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">响螺</p>
                                    <p class="back-content">
                                        栖息于潮下带较深砂泥质海底，海底拖网常采到。
                                        肉食性或腐食性，喜食底栖性贝类或死亡的鱼类。
                                        夏天时会在海底产下大型卵块。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/牡蛎——海蛎子0.jpg);">
                                <p>牡蛎</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">牡蛎</p>
                                    <p class="back-content">
                                        牡蛎，又称为“海里的牛奶”，其富含大量蛋白质和人体所缺的锌，
                                        食用牡蛎可防止皮肤干燥，促进皮肤新陈代谢，分解黑色素，
                                        它是难得的美容圣品。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/花螺.jpg);">
                                <p>花螺</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">花螺</p>
                                    <p class="back-content">
                                        花螺其肉质鲜美、酥脆爽口，是国内外市场近年十分畅销的优质海产贝类。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="">
                            <div class="front" style="background-image: url(images/tp_yu/蛏子.jpg);">
                                <p>蛏(chēng)子 </p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">蛏(chēng)子 </p>
                                    <p class="back-content">
                                        因为是在软泥滩上生活，所以蛏子的两个贝壳很薄也很脆。
                                        吃蛏子的时候最好不要去街边摊去吃，还是应该自己在家食用
                                        ，一定要注意蛏子的卫生与清洁。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/贻贝.jpg);">
                                <p>贻贝</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">贻贝</p>
                                    <p class="back-content">
                                        鲜活贻贝是大众化的海鲜品，可以蒸、煮食之，
                                        也可剥壳后和其他青菜混炒，味均鲜美。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/辣螺.jpg);">
                                <p>辣螺</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">辣螺</p>
                                    <p class="back-content">
                                        壳内面黄白色，外唇内侧黑紫色。岸均有分布，为岩相潮间带最习见螺类之一。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/泥螺.jpg);">
                                <p>泥螺</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">泥螺</p>
                                    <p class="back-content">
                                        泥螺雌雄同体，但异体受精、性成熟时，常可见到雌雄螺在滩涂上交尾，
                                        产下一圆形胶质膜包被的透明卵群，每群有一胶质柄固着在海滩上，
                                        密密麻麻的卵群，随潮涨落在水中波动，煞是壮观。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/花蚶.png);">
                                <p>花蚶</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">花蚶</p>
                                    <p class="back-content">
                                        花蚶可洗净用沸水烫过后生食，蚶血尤为鲜美，或腌渍，
                                        或加工制成干品，贝壳亦可入药，具有消血块和化痰积之功效。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/扇贝.jpg);">
                                <p>扇贝</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">扇贝</p>
                                    <p class="back-content">
                                        扇贝是世界各地重要的海洋渔业资源之一，
                                        见于潮间带到深海。其肉质鲜美，营养丰富，
                                        它的闭壳肌干制后即是“干贝”，被列入八珍之一，
                                        常作为美食食用。</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="fsm google">
                <i id="xie-btn">
                    <img src="images/tp_yu/xie.png">
                </i>
                <div id="xie-content" style="display: none;width:1200px;margin-top: 25px;">
                    <div class="contentbox">
                        <!--<p class="description">鱼</p>-->
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/寄居蟹.jpg);">
                                <p>寄居蟹 </p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">寄居蟹</p>
                                    <p class="back-content">
                                        寄居蟹多产于黄海及南方海域的海岸边，在沙滩和海边的岩
                                        石缝里容易发现，有时在竹子节、穗椰子壳、珊瑚、海绵等
                                        其它地方也能看到这种有“清道夫”之称的杂食性动物。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/青蟹.jpg);">
                                <p>青蟹</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">青蟹</p>
                                    <p class="back-content">
                                        青蟹是珍贵的水产品之一，其肉味鲜美独特，
                                        营养极为丰富，素称酒席上之佳肴，食用药用价值高，
                                        尤其是交配后性腺成熟的雌性蟹（红蟳、高蟹)有海中
                                        人参之美誉</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/招潮蟹.jpg);">
                                <p>招潮蟹</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">招潮蟹</p>
                                    <p class="back-content">
                                        招潮蟹会做出舞动大螯的动作，这个“招潮”的动作，
                                        目的是用大螯威吓敌人，或是求偶。此外，
                                        招潮蟹还有一对火柴棒般突出的眼睛，非常特别。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/花蟹.jpg);">
                                <p>花蟹</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">花蟹</p>
                                    <p class="back-content">
                                        全身都有红褐色及暗褐色的斑纹，是最醒目的特色。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/老虎蟹.jpg);">
                                <p>老虎蟹</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">老虎蟹</p>
                                    <p class="back-content">
                                        如要品尝肥大的蟹钳，只需用剪刀将蟹钳整只剪下，
                                        便可以慢慢享受，而且亦不需用太用力。沿蟹钳边稍
                                        微用力剪开，去除外壳，便可见到鲜甜味美的蟹肉了。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/梭子蟹.jpg);">
                                <p>梭子蟹</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">梭子蟹</p>
                                    <p class="back-content">
                                        梭子蟹身处海洋，离开高盐分高氧环境后存活率大大降低。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/石蟹.jpg);">
                                <p>石蟹</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">石蟹</p>
                                    <p class="back-content">
                                        又称篾蟹、溪蟹。经常栖息溪流旁或溪中石块下，
                                        渔民经常在近海捕获，但是石蟹中经常有寄生虫，
                                        食用时要确保完全煮熟后才吃。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/帝王蟹.jpg);">
                                <p>帝王蟹</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">帝王蟹</p>
                                    <p class="back-content">
                                        帝王蟹又名石蟹或岩蟹，它们主要分布在寒冷的海域。
                                        因其体型巨大而得名，素有“蟹中之王”的美誉。
                                        帝王蟹珍贵之处在其肉质鲜硕肥美的蟹脚，鲜嫩口感中又带有细致感，
                                        鲜甜滋味着实叫人回味。</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="#">
                            <div class="front" style="background-image: url(images/tp_yu/面包蟹.jpg);">
                                <p>面包蟹</p>
                            </div>
                            <div class="back">
                                <div>
                                    <p class="back-title">面包蟹</p>
                                    <p class="back-content">
                                        面包蟹常居于深海水温11℃的地方，它行走闲散淡定，
                                        最喜欢呆在一处地方，囤积蟹膏，所以又叫睡蟹。
                                        面包蟹的蟹肉是细白丝状，本身带有海水的咸味，
                                        空口吃分外清爽，蟹膏质感如雪糕，颇为松软甘滑。</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<script>
    // var $ = function( obj){
    //     return document.querySelector( obj );
    // }
    // $('#chuan1').addEventListener('click', function(){
    //     $('.quanping').classList.add('quanping-show');
    // }, false)
    // $('.cloes-tag').addEventListener('click', function(){
    //     $('.quanping').classList.remove('quanping-show');
    // }, false)
    function chuan1() {
        document.getElementsByClassName("quanping")[0].classList.add('quanping-show');
    }
    function chuan1_small() {
        document.getElementsByClassName("quanping")[0].classList.remove('quanping-show');
    }
    function chanpin4_show2()
    {
        document.getElementById("chanpin4_1").style.display='none';
        document.getElementById("chanpin4_2").style.display='block';
        document.getElementById("chanpin4_3").style.display='none';
        document.getElementsByClassName("button44")[0].className = 'button444';
    }
</script>
<!-- 代码 结束 -->
{{js "/js/yu.js"}}
{{js "/js/base.js"}}
